/*---About pages---*/
.about_img{text-align: center;margin: auto;}
.about_content_text{ font-size: 14px; line-height: 1.8; text-align: left; }
.about_team{display: block; padding: 10px; background: #f1f1f1; margin-bottom: 10px;}
.about_team h3{ font-size: 22px; color: #17319f;text-align: center;} 
.about_team ul{display: block; padding: 10px; margin: 0px;}
.about_team ul li{ text-align: center; display: block; width: 50%; float: left; margin: auto; }
.about_team ul li .about_team_photo{ border-radius: 115px; display: block; margin: auto;  padding: 10px;}
.about_team ul li span{clear: both; text-align: center; display: block; font-size: 16px; padding: 10px; }
.contact_sanction h4{text-align: center;}
.text_center{text-align: center; margin-top: 0px;}
.about_img{padding-top:10px; }