.aliceblue, .moti {
  background:#F0F8FF !important;
}
.antiquewhite  {
  background:#FAEBD7 !important;
}.aqua, .skyblue, .firozi, .Cyan  {
  background:#00FFFF !important;
}.aquamarine  {
  background:#7FFFD4 !important;
}.azure  {
  background:#F0FFFF !important;
}.offwhite {
  background:#FAEBD7 !important;
}.beige, .cremlight {
  background:#F5F5DC !important;
}.bisque {
  background:#FFE4C4 !important;
}.black  {
  background:#000000 !important;
}.blanchedalmond  {
  background:#FFEBCD !important;
}.blue  {
  background:#0000FF !important;
}.blueviolet, .purple, .bangani  {
  background:#8A2BE2 !important;
}.brown {
  background:#A52A2A !important;
}.burlywood  {
  background:#DEB887 !important;
}.cadetblue  {
  background:#5F9EA0 !important;
}.chartreuse, .tota  {
  background:#7FFF00 !important;
}.chocolate, .badami, .wooden  {
  background:#D2691E !important;
}.coral, .bhagwa, .munaga  {
  background:#FF7F50 !important;
}.cornflowerblue, .aasmani {
  background:#6495ED !important;
}.cornsilk, .cream   {
  background:#FFF8DC !important;
}.crimson, .gaharalal {
  background:#DC143C !important;
}.darkblue {
  background:#00008B !important;
}.darkcyan  {
  background:#008B8B !important;
}.darkgoldenRod, .gold  {
  background:#B8860B !important;
}.darkGray{
  background:#A9A9A9 !important;
}.green{
  background:#006400 !important;
}.darkkhaki, .khaki{
  background:#BDB76B !important;
}.darkolivegreen, .mahandi  {
  background:#556B2F !important;
}.orange  {
  background:#ff7e00 !important;
}.darkred  {
  background:#8B0000;
}.darkseagreen, .lightgreen  {
  background:#8FBC8F !important;
}.darkslategray, .sleti  {
  background:#2F4F4F !important;
}.deeppink, .rani  {
  background:#FF1493 !important;
}.forestgreen  {
  background:#228B22 !important;
}.fuchsia, .pink  {
  background:#FF00FF !important;
}.yellow  {
  background:#FFD700 !important;
}.hotpink, .pinklight {
  background:#FF69B4 !important;
}.indigo   {
  background:#4B0082 !important;
}.khaki {
  background:#F0E68C !important;
}.maroon, .wine  {
  background:#800000 !important;
}.Peru, .badami  {
  background:#CD853F !important;
}.red  {
  background:#FF0000 !important;
}.teal  {
  background:#008080 !important;
}.silver, .gray {
  background:#C0C0C0 !important;
}.tomato  {
  background:#F0F8FF !important;
}.peach { background:#FFDAB9 !important;  }
.skin { background:#FFF5EE !important;  }
.turquoise{background:#40E0D0 !important;}
.white{background:#eee !important;}
.mauve{background:#DDA0DD !important;}
.black{background:#000000 !important;}
.coffee{background:#6F4E37 !important;}
.mustard{background:#FFDB58 !important;}
.navyBlue{background:#000080 !important;}
.lavender{background:#E6E6FA !important;}
.rust{background:#B7410E !important;}
.magenta{background:#FF00FF !important;}
.lemon{background:#fff44f !important;}
.ramaGreen{background:#00FF00 !important;}
.parrotGreen{background:#36802D !important;}
.offWhite{background:#FDFDFD !important;}
.lightBlue{background:#ADD8E6 !important;}
.babypink{background:#FFB6C1 !important;}
.lightbeige{background:#F5F5DC !important;}
.royalblue{background:#4169E1 !important;}
.darkgreen{background:#006400 !important;}
.darkpink{background:#FF1493 !important;}
