body {
	color: #666;
	background:#eeeeee;
}
body.loading .global-bg-layer {background: #000 none repeat scroll 0 0;}
h1, h2, h3, h4, h5, h6 {
	color: #000;
}
a {
    color: #673ab7;
}
div.required .control-label:before {
    color: #F00;
}
.dropdown-menu li > a:hover {
    color: #ffffff;
   	background-color: #673ab7;
}
#top #currency .currency-select:hover {
    color: #ffffff;
}
#top .btn-link, #top-links li, #top-links a {
    color: #333;
}
#top .btn-link:hover, #top-links a:hover {
    color: #f50057;
}
#top-links .dropdown-menu a:hover {
    color: #FFF;
}
#cart.open > .btn:hover {
    color: #444;
}
#cart .dropdown-menu {
    background: #eee;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
    background: #f50057;
}
#menu .see-all {
    border-top: 1px solid #DDD;
}
#menu .nav > li > a {
    color: #fff;
    background-color: transparent;
}
#menu .dropdown-inner a {
    color: #333333;
}
#menu .dropdown-inner li a:hover {
    color: #FFFFFF;
}
#menu .see-all:hover, #menu .see-all:focus {
    color: #ffffff;
    background-color: #229ac8;
}
#menu #category {
    color: #fff;
}
#menu .btn-navbar {
    color: #FFF;
  	background-color: #229ac8;
    border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #229ac8;
}
#menu div.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.1);
}    
#menu .dropdown-inner a {
    color: #fff;
}
#menu .dropdown-menu a:hover,#menu .dropdown-menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#menu .see-all {
    color: #fff;
}

footer {
    background-color: #2a2a2a;
    color: #e2e2e2;
    border-top: 1px solid #ddd;
}
footer a {
    color: #ccc;
}
footer a:hover {
    color: #fff;
}
footer hr {
    border-bottom: 1px solid #666;
}
footer h5 {
    color: #fff;
}
.alert {
    color: black;
}
.breadcrumb > li {
    text-shadow: 0 1px 0 #FFF;
}
.breadcrumb a:link, .breadcrumb a:visited{color:# #f50057;}
.breadcrumb a:hover, .breadcrumb a:visited:hover{color:#CB061A;}
.btn-default {
    color: #777;
    background-color: #e7e7e7;
    border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-warning {
    color: #ffffff;
    background-color: #faa732;
    border-color: #f89406 #f89406 #ad6704;
}
.btn-danger {
    color: #ffffff;
    background-color: #da4f49;
    border-color: #bd362f #bd362f #802420;
}
.btn-success {
    color: #ffffff;
    background-color: #5bb75b;
    border-color: #51a351 #51a351 #387038;
}
.btn-info {
    color: #ffffff;
    background-color: #df5c39;
    border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #df5c39;
}
.btn-link {
    border-color: rgba(0, 0, 0, 0);
    color: #23A1D1;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
}
.list-group a {
    color: #888888;
    border: 1px solid #DDDDDD;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: #444444;
    background: #eeeeee;
    border: 1px solid #DDDDDD;
    text-shadow: 0 1px 0 #FFF;
}
.carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}
.rating .fa-star-o {
    color: #999;
}
.rating .fa-star {
    color: #FC0;
}
.rating .fa-star + .fa-star-o {
    color: #E69500;
}
.product-thumb {
    border: 1px solid #ddd;
    background:#fff;
}
.product-thumb .price {
    color: #000;
}
.product-thumb .price-new {
    font-weight: 600;
}
.product-thumb .price-old {
    color: #EC3C05;
}
.product-thumb .price-tax {
    color: #999;
}
.product-thumb .button-group {
    border-top: 1px solid #ddd;
    background-color: #eee;
}
.product-list .product-thumb .button-group {
    border-left: 1px solid #ddd;
}
.product-thumb .button-group button {
    background-color: #eee;
    color: #888;
}

.product-thumb .button-group button + button {
    border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
    color: #444;
    background-color: #ddd;
}
.image-additional a {
    border: 1px solid #ddd;
}
header{
    background: #fff;
}
section#top_nav #menu .nav > li > a:link, section#top_nav #menu .nav > li > a:visited{
    color:#767676;
}
section#top_nav #menu .nav > li > a:hover, section#top_nav #menu .nav > li > a:visited:hover{
    color:#fff;
}
li.discount-qty-label{
    background-color: #3949ab;
    color:#fff;
}
li.bgcolor1{
    background-color: #3949ab;
    color:#fff;
    border-left:1px solid #5c6bc0;
}
li.bgcolor2{
    background-color: #3949ab;
    color:#fff;
    border-left:1px solid #5c6bc0;
}
li.bgcolor3{
    background-color: #3949ab;
    color:#fff;
    border-left:1px solid #5c6bc0;
}
li.bgcolor4{
    background-color: #3949ab;
    color:#fff;
}
section#about-us-banner{
    background:#2a2a2a;
    color: #fff;
}
section#about-us-banner h1{
    color:#fff;
}
section.why-us{/*text-align: center;*/ margin:40px 0 100px 0;}
section.why-us h1, section#team h1{color:#673ab7;}
.arrow-strip {background-color: #255d84;box-shadow: 0 -2px 2px #c4c4c4;}
#gallery_01 img{border:2px solid white;}
.active img{border:2px solid #333 !important;}
#product_zoom{border: 1px solid #ccc;}
span.min-moq{color: #000;}
.signup-form-wrapper .form-block-heading{color:#673ab7;border-bottom: 1px solid #0000ff;}
.signup-form-wrapper label{color:#000;}
.signup-form-wrapper .calltobox{background: #e4e4e4 none repeat scroll 0 0;border: 1px solid #ccc;}
.stepwizard-row:before {background-color: #ccc;}
.signup-form-wrapper h3.subheading{color:#000000;}
nav#top .dropdown-menu a{color:#000;}
header .form-control{border-color:#673ab7;}
header .btn-inverse:hover, header .btn-default:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color:  #f50057;
    color:#fff;
    border-color:  #f50057;
    background-image: linear-gradient(to bottom,  #f50057,  #f50057);
}
header .btn-default:hover {
    background-color:  #673ab7;
    color:#fff;
    background-image: linear-gradient(to bottom,  #673ab7,  #673ab7);
}
header .btn-default {
    color: #fff!important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   	background-color: #673ab7;
    border-color: #673ab7;
    background-image: linear-gradient(to bottom, #673ab7, #673ab7);
    background-repeat: repeat-x;
}

.footer4 h2{color:#fff;}
.footer4 h3{color:#fff;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    color:#000 !important;
}
.footer4 ul li span{color:#999;}
.stock_circle span.in_stock{background:#ccff90;}
.stock_circle span.soldout{background:#f23b3b;color:#fff;}
.stock_circle_list span.soldout{border-left: 1px solid #000;}
.card_box{background: #fff;box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);}
.cart_page #content, .account-account #content, .account-edit #content, .account-password #content, .account-address #content, .account-wishlist #content, .account-order #content, .account-order-info #content, .account-address-edit #content, .account-address-add #content, .account-return #content, .account-transaction #content, .account-newsletter #content, .seller-account-profile #content, .information-contact #content,.information-credit #content, .account-register-seller #content{background: #fff;box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);}
.success_page #content{background: #fff;box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);}
.register_page #content{background: #fff;box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);}
.product-layout .product-thumb:hover{border: 1px solid #f50057;}
div.caption h4 a:link, div.caption h4 a:visited{color:#000;}
.outofstock {background: #f2dede;}
.account-forgotten #content{background: #fff;box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);}
.selected_filters span.filter{background:#f50057;color:#fff;}
.selected_filters span.filter.clearall{background:#FAF358!important;color:#000;}
#header-desktop span.tagline{color:# #673ab7;}
.mfp-iframe-scaler {
    background: #FFF;
}
.mfp-iframe-scaler iframe{background: none!important;}
.addedincart{background: #fff;box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2); color:#000;}
.addedincart a:link, .addedincart a:visited{color:#1976d2;}
button.addtocart:#header-desktop span.tagline{background:#f50057!important; color:#fff;}
.checkout-checkout .billing_address, .checkout-checkout .shipment_address{border:1px solid #ccc;}
.checkout-checkout .billing_address.selected_address, .checkout-checkout .shipment_address.selected_address{background:#f50057 url("ajax-loader_small.gif") no-repeat scroll center center;color:#fff;}
.checkout-checkout .billing_address:hover, .checkout-checkout .billing_address.selected_address, .checkout-checkout .shipment_address:hover, .checkout-checkout .shipment_address.selected_address{border:1px solid#f50057;}
.selected_address h3{color:#fff;}
.checkout-checkout  div.continue{border:1px solid#f50057;}
.checkout-checkout div.continue{background:#f50057; color:#fff;}
.checkout-checkout .selected_address div.continue{background:#f50057;color:#fff;}
.checkout-checkout  div.continue:hover{background-color: #2196f3; color:#fff;}
.checkout-checkout  .address_data{color:#999;}
.checkout-checkout .selected_address .address_data{color:#fff;}
.payment_address {color:#000;}
.button_address_link{border:1px solid#f50057;}
.button_address_link:hover{background-color:#f50057; color:#fff;}
.shipping_address{color:#000;}
.checkout-checkout span.smallhead{color:#9e9e9e;}
#panzoom-container .buttons{background:#fff;box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);}
#panzoom-container button{background: #fff; border:1px solid #fff; color:#000;}
.sidebar_banner {background: #2196f3;}
.topHeadingText {color: #fff;}
.ad_sidebar h3{color:#fff;}
.close_ad_btn{border:1px solid #fff;}
.card_box_flat{background-color: #fff; border: 1px solid #ededed;}
.card_box_right{border-left: 1px solid #ededed;}
.card_box_flat h2{ color: #333;}
.card_box_flat ul li {color: #333;}
.singleStore{background-color: #c0c0c0;color: #fff;}
.filter_without_select{
    background: #ccc none repeat scroll 0 0;
    color: #666;
}
#category_dropdown{border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;border-left: 1px solid #ddd;background: #e9e9e9; color:#fff; color:#000;}
.singleStore{background-color: #c0c0c0; color: #fff;}
.filter_without_select{ background: #ccc none repeat scroll 0 0; color: #666;}
.filter_with_select{background:#f50057;color:#fff;}
ul.navmenu-nav{background:#fff;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;border-left: 1px solid #ddd;}
.nav-category-dropdown li{border-bottom:1px solid #eee;background: #fff;}
.singleStore{ background-color: #c0c0c0; color: #fff;margin-left: 225px;}
.filter_without_select{background: #ccc none repeat scroll 0 0;color: #666;}
.filter_group_description{color:#aaa;}
.category_head{background: #ff9900;}
.coulmn_right_flat{background: #fff;}
.single-store-btn{background: #673ab7;}
.single-store-btn a:link, .single-store-btn a:visited{color:#fff!important;}
sup.highlight{background: #ff0000;color:#fff;}
body.popup{background: #fff;}
.btn-secondary{background:#f50057!important; color:#fff;}
@media (min-width: 769px) {
    ul.vertical ul.dropdown-menu {
        border: 1px solid #ddd;
    }
}
@media (max-width: 768px) {
	#sort_by_options ul li{border-bottom:1px solid #ddd;}
	a#sortby{border-right: 1px solid #ccc;}
	.slidebox{background-color: #fff; border: 1px solid #ededed;}
	.homepage h2{color:#665;}
	header{background: #fff;border-bottom:1px solid #EBEBEB;}
	header .form-control{border-left:1px solid #CECECE;border-top:1px solid #CECECE;border-bottom:1px solid #CECECE;}
	header .wishlist_in_header{background: #F2F2F2;}
	header span.cart_number{background: #fff; color:#000;}
	header .btn-search{background: #f50057; color:#ffffff;}
	header .btn-search:hover{background: #f50057; color:#ffffff;}
	#top-links a:link, #top-links a:visited{ color:#4F4F4F;}
	#top-links a i.fa{color:#ccc;}
	#top-links li.highlighted_nav a:link, #top-links li.highlighted_nav a:visited{color:#ED3541;}
	.btn-inverse {color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);background-color:  #673ab7;}
	.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { background-color:  #673ab7; color:#ffffff; }
	.navbar-nav > li >  a:link, .navbar-nav > li > a:visited{color:#666666;}
	.navbar-nav > li >  a:hover, .navbar-nav > li > a:visited:hover{color:#f50057;}
	#header-mobile .navbar-default {background:#1976d2!important;}
	#header-mobile .navbar-toggle{background:#1976d2!important;color:#fff;}
	#header-mobile .navbar-default .navbar-toggle .icon-bar{background: #fff;}
	#header-mobile .navmenu-default, .navbar-default .navbar-offcanvas{background:#e4e4e4;color:#fff;}
	#header-mobile .navmenu-nav a:link, #header-mobile .navmenu-nav a:visited{color:#333;}
	#header-mobile .navmenu-nav a:hover, #header-mobile .navmenu-nav a:visited:hover{color:#fff;background: #0d47a1;}
	#header-mobile .home{color:#fff;}
    #header-mobile .nav > li{border-bottom:1px solid #ccc;}
    .mobile-logo a:link, .mobile-logo a:visited{color:#fff;text-shadow:1px 1px 1px#f50057;}
    .navmenu-default .navmenu-nav > .active > a, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a, .navmenu-default .navmenu-nav > .active > a:hover, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a:hover, .navmenu-default .navmenu-nav > .active > a:focus, .navbar-default .navbar-offcanvas .navmenu-nav > .active > a:focus{background:#fff;}
    .navmenu-default .navmenu-nav.dropdown-menu, .navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu{background: #fff;}
    .nav .open > a:link, .nav .open > a:visited{background: #fff!important;}
}
header{background: #fff;border-bottom:1px solid #EBEBEB;}
header .form-control{border-left:1px solid #CECECE;border-top:1px solid #CECECE;border-bottom:1px solid #CECECE;}
header .wishlist_in_header{ background: #F2F2F2;}
header span.cart_number{background: #fff; color:#000;}
header .btn-search{background: #f50057; color:#ffffff;}
header .btn-search:hover{background: #f50057; color:#ffffff; }
#top-links a:link, #top-links a:visited{color:#4F4F4F;}
#top-links a i.fa{color:#ccc; }
#top-links li.highlighted_nav a:link, #top-links li.highlighted_nav a:visited{color:#ED3541;}
.btn-inverse {color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);background-color:  #673ab7;}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { background-color:  #673ab7; color:#ffffff; }
.navbar-nav > li >  a:link, .navbar-nav > li > a:visited{color:#666666;}
.navbar-nav > li >  a:hover, .navbar-nav > li > a:visited:hover{color:#f50057;}
#right-container{background-color: #0f3599;}
#signup{background-color: white;}
#forgot:hover{color:  #673ab7;}
.tab-panels ul li{border-color: #f1f1f1;color: #6D6D6D;}
.tab-panels ul li:hover{color: #0f3599;}
.tab-panels ul li.active{color: #0f3599;border-bottom: solid medium #f50057 ;}
.cross_icon{color: white;}
.forgotten {background-color: white;}
.back_icon{color:#0f3599;}
.back_icon:hover{color:#673ab7;}
#tooltip_category{
	background-color: white;
    border: 2px solid #f50057;
}
#closer{
    color: #f50057;
}
#checkbox_label{
    color: #f50057;
}
.referral_text{
    color: #151515;
}
#refer_btn_container{
    background-color: #f50057;
    box-shadow: 2px 2px 5px #888888;
    color: white;
}
#discount_shipping_popup{
    box-shadow: 2px 2px 5px #888888;
    background-color: #133595;
}
#prepaid_discount{
    background-color: #133595;
    color: white;
}

.close_ship_popup{
    color: whitesmoke;
}
.btn_signup_refer:hover{
    background-color: #f50057;
}
.btn_signup_refer{
    background-color: #133595;
    color: white;
}
.link_refer_signup{
    color: white;
}
.link_refer_signup:hover{
    color: white;
}

#or_div{
    background-color: whitesmoke;
    color: #515151;
}
#free_shipping_popup{
    background-color: #f50057;
    color: white;
}

#discount_shipping_popup_show{
    background-color: #f50057;
    color: whitesmoke;
}

.content_banner{
    background-color: white; box-shadow: 5px 5px 5px 5px #ccc;
}

.save_des{
    color: white;
    background-color: #133595;
}
.save_des:hover{
    background-color: #f50057;
    color: white;
    border-color: #f50057;
}
.blink_text{
    color: #f50057;
}
.quality_msg{
    background-color: #f50057;  
    color: white;
}
.addnewpage{
    background-color: white;
    color: #133595;
    border: 2px solid #133595;
}
.addnewpage:hover {background-color: #133595; color: white;}

/* stylesheet-new files */

body {
    color: #666;
    background:#eeeeee;
}
body.loading .global-bg-layer {background: #000 none repeat scroll 0 0;}
h1, h2, h3, h4, h5, h6 {
    color: #000;
}
a {
    color: #673ab7;
}
div.required .control-label:before {
    color: #F00;
}
.dropdown-menu li > a:hover {
    color: #ffffff;
    background-color: #673ab7;
}
#top #currency .currency-select:hover {
    color: #ffffff;
}
footer {
    background-color: #ffffff;
    border-top: 1px solid #CCCCCC;
    color: #333333;
}
footer hr {
    border-bottom: 1px solid #666;
}
footer a {
    color: #888888;
}
footer a:hover {
    color:  #673ab7;
}
footer h5, footer h4, footer h3, footer h2, footer h2{color:#333333;}
.alert {
    color: black;
}
.breadcrumb > li {
    text-shadow: 0 1px 0 #FFF;
}
.breadcrumb a:link, .breadcrumb a:visited{color:#333;}
.breadcrumb a:hover, .breadcrumb a:visited:hover{color:#CB061A;}
.btn-default {
    color: #777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #e7e7e7;
    background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
    border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary{
	background-color: #673ab7;
	border-color: #673ab7;
    color: #fff;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #673ab7;
}
.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #df5c39;
    background-image: linear-gradient(to bottom, #e06342, #dc512c);
    border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #df5c39;
}
.btn-link {
    border-color: rgba(0, 0, 0, 0);
    color: #23A1D1;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
}
.list-group a {
    border: 1px solid #DDDDDD;
    color: #888888;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: #444444;
    background: #eeeeee;
    border: 1px solid #DDDDDD;
    text-shadow: 0 1px 0 #FFF;
}
.carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}
.product-thumb {
    border: 1px solid #ddd;
    background:#fff;
}
.rating .fa-star-o {
    color: #999;
}
.rating .fa-star {
    color: #FC0;
}
.rating .fa-star + .fa-star-o {
    color: #E69500;
}
.product-thumb .price {
    color: #000;
}
.product-thumb .price-old {
    color: #EC3C05;
}
.product-thumb .price-tax {
    color: #999;
}
.product-thumb .button-group {
    border-top: 1px solid #ddd;
    background-color: #eee;
}
.product-list .product-thumb .button-group {
    border-left: 1px solid #ddd;
}
.product-thumb .button-group button {
    background-color: #eee;
    color: #888;
}
.product-thumb .button-group button + button {
    border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
    color: #444;
    background-color: #ddd;
}
.image-additional a {
    border: 1px solid #ddd;
}
section#top_nav #menu .nav > li > a:link, section#top_nav #menu .nav > li > a:visited{
    color:#767676;
}
section#top_nav #menu .nav > li > a:hover, section#top_nav #menu .nav > li > a:visited:hover{
    color:#fff;
}
header{background: #fff; border-bottom:1px solid #EBEBEB;}
header .form-control{border-left:1px solid #CECECE;border-top:1px solid #CECECE;border-bottom:1px solid #CECECE;}
header .wishlist_in_header{background: #F2F2F2;}
.wishlist_in_header a:link, .wishlist_in_header a:visited{color:#f50057;}
.wishlist_in_header a:hover, .wishlist_in_header a:visited:hover{color:#444444;}
header span.cart_number{background: #fff; color:#000;}
header .btn-search{background: #f50057; color:#ffffff;}
header .btn-search:hover{background: #f50057; color:#ffffff;}
#top-links a:link, #top-links a:visited{color:#4F4F4F;}
#top-links a i.fa{color:#ccc;}
#top-links li.highlighted_nav a:link, #top-links li.highlighted_nav a:visited{color:#ED3541;}
.btn-inverse {color: #ffffff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);background-color:  #673ab7;}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { background-color:  #673ab7; color:#ffffff; }
.navbar-nav > li >  a:link, .navbar-nav > li > a:visited{color:#666666;}
.navbar-nav > li >  a:hover, .navbar-nav > li > a:visited:hover{color:#f50057;}
.top_promotional_blocks .block{ background: #ffffff; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);}
.homepage .list_craousel .owl-item a:link, .homepage #LatestProducts .owl-item a:visited{color:#444444;}
.homepage .list_craousel .owl-item a:hover, .homepage #LatestProducts .owl-item a:visited:hover{color:#f50057; }
.homepage .list_craousel .owl-item:hover img{background: #fff;}
.footer_top{background: #ffffff;}
.footer_top span.review-author{color: #673ab7;}
.card_box_flat .owl-item{box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);background: #ffffff;}
.footer4 ul li{color:#000000;}
.footer4 ul li a:link, .footer4 ul li a:visited{color:#666666;}
.footer4 ul li a:hover, .footer4 ul li a:visited:hover{color: #673ab7;}
.footer4 span.ofc_time{color:#AAAAAA;}
.footer_copyright{ border-top: 1px solid #cccccc; color:#AAAAAA; }
.category_page .product-layout .product-thumb {
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
}
.category_page .product-thumb {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
}
.category_page .product-thumb:hover{border:1px solid #f50057;}
.input_mobile_number_class{color:#999999;  border: solid 1px #c9c9c9; }
.popup_btn{background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); border:1px solid #000000;}
a.skippopup{color:#888888;}
.downloadImages{ background: #e8e8e8 none repeat scroll 0 0;color: #fff;}
#amount_lable{
    color:#000;
}
.product-layout .hover_description{
background: #fff none repeat scroll 0 0;   
color:#EEE;
}
.addtowishlist {
    background-color: transparent;
}
.custom_heart{
    color: red;
}
.hover_description .button-group{
  color:  #000;
}
.quickview{
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
}
.updateAddresscontinue span{
    color:#FFFFFF;
}
.product_description{
    color: #444;
}
.product_options{
    color:#000 !important;
}
.title_color span{
    border:1px groove #000;
}
.category_page .category-title h2{
    color: #673ab7;
}
.category_page #content{
    background: #FFF;
    border:1px solid #ddd;
}
.category_page .sorting_bottom_line{
    border-bottom: 1px solid #ddd;
}
.category_page .text-right #input-sort li {
    color: #000;
}
.category_page .text-right #input-sort li.active a:link, .category_page .text-right #input-sort li.active a:visited{color:#f50057;}
.category_page .text-right #input-sort li a:link, .category_page .text-right #input-sort li a:visited{
    color:#7d7d7d;
}
.category_page .text-right #input-sort li a:hover, .category_page .text-right #input-sort li a:visited:hover {
    color:#f50057;
}
.browse_more .btn_browse_more{
    background-color: #673ab7;
    color:#FFF;
}
.browse_more .btn_browse_more:hover{
	background-color: #f50057;
}
.addtocart {
    background: #f50057 none repeat scroll 0 0;
    color: #fff;
}
.product_page #content,.product_page .bottom_releted_product{
    background: #eee;
}
.product_page #content .product_details_popup,.product_page #content .show_description,.product_page #content .show_reviews{
    background: #fff;
    border-left:1px solid #ddd ;
}
#panzoom-container .product_img_detail{
    border: 1px solid #ddd;
    background: #fff;
}
.product_details_popup #product .btn_addtocart .addtocart{
    background: #f50057 none repeat scroll 0 0;
    color: #fff;
}
.product_details_popup #product button.btn.bootstrap-touchspin-down,
.product_details_popup #product button.btn.bootstrap-touchspin-up{
    background: #fff none repeat scroll 0 0;
    color: #000;
    border: 1px solid #ddd;
}
.product_details_popup #product input#input-quantity {
    border: 1px solid #ddd;
}
.product_details_popup .button_add_wishlist .addtowishlist {
    background-color: transparent;
    color: #000;
}
.product_details_popup .product_detail h3 span#sell-price{
    color:  #673ab7;
}
.product_details_popup .product_detail .label-minimum-order{
    background:  #673ab7;
}
.product_details_popup .product_detail .product_set_description{
    border: 1px solid #ddd;
}
.product_details_popup .return_accepted{
    border: 1px solid #ddd;
}
.set_show_description h4 .heading_title,
.product_page .bottom_releted_product .heading_title{
    color: #000;
}
.set_show_description .show_description,
.show_reviews{
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.table_data_color{
    color:#000;
}
.advertise_article{
    color:#f50057;
}
.advertise_article a{
    color: #673ab7;
}
.product-search #content #list_container{
    background: #FFF;
}
.product-search #content .btn_search {
    background: #f50057 none repeat scroll 0 0;
    color: #fff;
}
.btn-wsbred{background: #f50057; border:1px solid #f50057; color: #ffffff;}
[id^="checkbox-7-"] + label {
    background-color: #FFF;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    color: #464E50;
}
[id^="checkbox-7-"] + label:after {
    background: #FFF;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), inset 0 -18px 15px -10px rgba(0, 0, 0, 0.05);
    color: #496F7A;
}
[id^="checkbox-7-"]:checked + label {
    color: #fff;
}
[id^="checkbox-7-"] + label > span {
    z-index: 99999;
}
[id^="checkbox-7-"]:active + label:after {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), inset 0 2px 6px rgba(0, 0, 0, 0.1), inset 0 -18px 15px -10px rgba(0, 0, 0, 0.05);
}
[id^="checkbox-7-"] + label:before {
    background:  #673ab7;
}
[id^="checkbox-7-"]:checked + label:before {
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
input[id^="checkbox-2-"] + label {
        background-color:  #673ab7;
        color: #FFF;
}
[id^="checkbox-2-"] + label:hover  {
    border-top: 1px solid #4caf50;
    background: #4caf50;
}
[id^="checkbox-2-"] + label:active  {
    background: #4caf50;
}
[id^="checkbox-2-"] + label:after {
    box-shadow: inset 0px 16px 40px rgba(0, 0, 0, 0.4);
}
[id^="checkbox-2-"] + label:before {
    box-shadow: inset 0px 16px 40px #FFF;
}
.dropshipper_heading_list {
    color: #949494;
}
.marketing-block {
    border-color: #e5e5e5;
}
.section-block {
    border-color: #e5e5e5;
}
.dropshipper_heading_last {
    color: #949494;
}
.marketing-button, .marketing-nav__button {
    color: #fff;
}
.dropshipper_red{
background-color: #f50057;
}
.dropshipper_green{
   background-color: #7ab55c;
}
.product_detail_cart .singleproductsize .singleproductsizelist{
    border: 1px solid #ddd;
}
.sizeBackColor{
    background:  #673ab7;
    color: #FFF;
}
.product_detail_cart .singleproductsize .singleproductsizelistdisabled{
    border: 1px solid #ddd;
}
.store_price {
    color:  #673ab7;
}
.deal_day_blocks .block {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.out-of-stock {
    color:red; 
}
.career-page .error{
    color:#f50057;
}
.account-page{
    background: #fff;
}
.account-page .well {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.account-page .column-right{
    background:  #673ab7;
}
.account-page .column-right .account-right-content{
    color: #fff;
}
.account-page .nav-tabs li.active{
    border-bottom: 1px solid  #673ab7;
}
.account-page .nav-tabs li a:hover{
    border-color: #fff #fff transparent;
    color:#000;
    background: none;
}
.account-page .nav-tabs li a{
    color:#000;
}
.account-page .nav-tabs li.active a,
.account-page .nav-tabs li.active a:focus,
.account-page .nav-tabs li.active a:hover{
    border-color: #fff #fff transparent;
    color:  #673ab7;
}
#collapse-payment-address .new_button_address_link .button_address_link:hover{
    background:  #673ab7 !important;
    border: 1px solid  #673ab7;
}
#collapse-payment-address .use_save_address .button_address_link:hover{
    background:  #673ab7 !important;
    border: 1px solid  #673ab7;
}
#collapse-payment-address #payment-new #button-payment-address{
    background: #f50057 !important;
    border: 1px solid #f50057;
}
.checkout-checkout .billing_address.selected_address{
    background:  #673ab7 !important;
}
.checkout-checkout span.smallhead {
    color: #9e9e9e;
}
.checkout-checkout .shipment_address.selected_address{
    background:  #673ab7 !important;
}
#collapse-shipping-address .new_button_address_link .button_address_link:hover{
    background:  #673ab7 !important;
    border: 1px solid  #673ab7;
}
#collapse-shipping-address .use_shipping_address .button_address_link:hover{
    background:  #673ab7 !important;
    border: 1px solid  #673ab7;
}
#collapse-shipping-address #shipping-new #button-shipping-address{
    background: #f50057 !important;
    border: 1px solid #f50057;
}
#collapse-shipping-address .selected_address .shipment_action_links .shipment_edit_link i.fa-pencil{
    color: #fff;
}
#collapse-shipping-address .shipment_continue_collapse{
    background: #f50057 !important;
}
#collapse-payment-address .selected_address .action_links .edit_link i.fa-pencil{
    color: #fff;
}
#collapse-payment-address .continue_collapse{
    background: #f50057 !important;
}
#collapse-payment-method .button-payment-method{
    background: #f50057 !important;
}
#collapse-checkout-confirm .button-confirm{
    background: #f50057 !important;
}
.cart_page .button_cart_checkout{
    background: #673ab7;
    border: 1px solid #673ab7;
}
.cart_page .button_cart_checkout:hover{
    background: #f50057;
    border: 1px solid #f50057;
}
.account-page .nav-tabs li {
    color:  #673ab7;
}
.account-page .nav-tabs li.active{
    background: #e4e4e4;
}
.account-page .nav-tabs li a{
    background: #888888;
}
.account-page .nav-tabs li a:hover{
    border-color:transparent;
    background: #888888;
    color:#000;
}
.account-page .nav-tabs li a{
    color:#fff;
}
.account-page .nav-tabs li.active a,
.account-page .nav-tabs li.active a:focus,
.account-page .nav-tabs li.active a:hover{
    color: #000;
    border-color: transparent;
}
#sign_up .buttons .reg_button_submit,
#sign_in .buttons .log_submit_button{
    background: transparent;
    border: 2px solid  #673ab7;
    color:#000;
}
#forgot_password_show .buttons .forgot_submit_button{
    background: transparent;
    border: 2px solid  #673ab7;
    color: #000;
}
#sign_up .buttons .reg_button_submit:hover,
#sign_in .buttons .log_submit_button:hover,
#forgot_password_show .buttons .forgot_submit_button:hover{
    background:  #673ab7;
    color:#fff;
}
.order-summary-show{
    border: 1px solid #ddd;
    background: #FFF;
}
.order-summary-show .order-summary h3{
    color: #FFF;
    background: #f50057;
}
.order-summary-show .order-list .product-details{
    border:1px groove #ddd;
}
.collapse-checkout-confirm .buttons .button-cash-delivery{
    background: #f50057;
}
#collapse-payment-address .back_collapse{
    background: #ddd;
    color: #000;
}
.checkout_payment_address .back_collapse{
    background: #ddd!important;
    color: #000 !important;
}
#collapse-shipping-address .back_shipment_collapse{
    background: #ddd !important;
    color: #000;
}
.new_shipping_address .back_shipment_collapse{
    background: #ddd !important;
    color: #000 !important;
}
#collapse-payment-method .back-payment-method{
    background: #ddd !important;
    color: #000;
}
.checkout_payment_method .back-payment-method{
    background: #ddd !important;
    color: #000 !important;
}
#collapse-checkout-confirm .back_collapse{
    background: #ddd !important;
    color: #000;
}
.success_page .success_button{
    background: #f50057;
}
.checkout-login-page .nav-tabs li.active a,
.checkout-login-page .nav-tabs li.active a:focus,
.checkout-login-page .nav-tabs li.active a:hover{
    border-color: transparent;
    background: #e4e4e4;
    color: #000;
}
.checkout-login-page .nav-tabs li a{
    background: #888888;
    color: #000;
}
.checkout-login-page .nav-tabs li a:hover{
    background: #888888;
    color: #fff;
}
.checkout-login-page #sign_in .buttons .checkout_login_button,
.checkout-login-page #sign_up .buttons .checkout_reg_button,
.checkout-login-page #forgot_password_show .buttons .forgot_submit_button{
    background: transparent;
    border: 2px solid  #673ab7;
    color: #000;
}
.checkout-login-page #sign_in .buttons .checkout_login_button:hover,
.checkout-login-page #sign_up .buttons .checkout_reg_button:hover,
.checkout-login-page #forgot_password_show .buttons .forgot_submit_button:hover{
    background:  #673ab7;
    color: #FFF;
}
#discount_shipping_popup{
    background: #FFF;
}
.close_ship_popup{
    color: #000;
}
#prepaid_order{
    color: #000;
}
#prepaid_discount{
    background-color: #FFF;
    color: #000;
}
#free_shipping_popup{
    background: #CCCCCC;
    color: #000000;
}
.left_seller_container{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}
.left_seller_container > li.active > a, .left_seller_container > li.active > a:focus, .left_seller_container > li.active > a:hover  {
    color: #ffffff;
    background-color: #673ab7;
    margin-bottom: -1px;
}
.nav.nav-tabs.left_seller_container > li {
    width: 100%;
}