.aliceblue, .moti {
  background:#F0F8FF;
}
.antiquewhite  {
  background:#FAEBD7;
}.aqua, .skyblue, .firozi, .Cyan  {
  background:#00FFFF;
}.aquamarine  {
  background:#7FFFD4;
}.azure  {
  background:#F0FFFF;
}.offwhite {
  background:#FAEBD7;
}.beige, .cremlight {
  background:#F5F5DC;
}.bisque {
  background:#FFE4C4;
}.black  {
  background:#000000;
}.blanchedalmond  {
  background:#FFEBCD;
}.blue  {
  background:#0000FF;
}.blueviolet, .purple, .bangani  {
  background:#8A2BE2;
}.brown {
  background:#A52A2A;
}.burlywood  {
  background:#DEB887;
}.cadetblue  {
  background:#5F9EA0;
}.chartreuse, .tota  {
  background:#7FFF00;
}.chocolate, .badami, .wooden  {
  background:#D2691E;
}.coral, .bhagwa, .munaga  {
  background:#FF7F50;
}.cornflowerblue, .aasmani {
  background:#6495ED;
}.cornsilk, .cream   {
  background:#FFF8DC;
}.crimson, .gaharalal {
  background:#DC143C;
}.darkblue {
  background:#00008B;
}.darkcyan  {
  background:#008B8B;
}.darkgoldenRod, .gold  {
  background:#B8860B;
}.darkGray{
  background:#A9A9A9;
}.green{
  background:#006400;
}.darkkhaki, .khaki{
  background:#BDB76B;
}.darkolivegreen, .mahandi  {
  background:#556B2F;
}.orange  {
  background:#ff7e00;
}.darkred  {
  background:#8B0000;
}.darkseagreen, .lightgreen  {
  background:#8FBC8F;
}.darkslategray, .sleti  {
  background:#2F4F4F;
}.deeppink, .rani  {
  background:#FF1493;
}.forestgreen  {
  background:#228B22;
}.fuchsia, .pink  {
  background:#FF00FF;
}.yellow  {
  background:#FFD700;
}.hotpink, .pinklight {
  background:#FF69B4;
}.indigo   {
  background:#4B0082;
}.khaki {
  background:#F0E68C;
}.maroon, .wine  {
  background:#800000;
}.Peru, .badami  {
  background:#CD853F;
}.red  {
  background:#FF0000;
}.teal  {
  background:#008080;
}.silver, .gray {
  background:#C0C0C0;
}.Tomato  {
  background:#F0F8FF;
}.peach { background:#FFDAB9;  }
.skin { background:#FFF5EE;  }
.turquoise{background:#40E0D0;}
.white{background:#eee;}
.mauve{background:#DDA0DD;}
.black{background:#000000;}
.Coffee{background:#6F4E37;}
.Mustard{background:#FFDB58;}
.NavyBlue{background:#000080;}
.Lavender{background:#E6E6FA;}
.Rust{background:#B7410E;}
.Magenta{background:#FF00FF;}
.Lemon{background:#fff44f;}
.RamaGreen{background:#00FF00;}
.ParrotGreen{background:#36802D;}
.OffWhite{background:#FDFDFD;}
.LightBlue{background:#ADD8E6;}
.BabyPink{background:#FFB6C1;}
.LightBeige{background:#F5F5DC;}
.RoyalBlue{background:#4169E1;}
.DarkGreen{background:#006400;}
.DarkPink{background:#FF1493;}
