.category_section{display: block;}
.home_category_btn{display: block; margin: 0px; list-style: none; padding: 0; border-bottom: none;}
.home_category_btn li{display: block; margin: 0px; list-style: none; padding: 0; width: 33.33%}
.home_category_btn li a{display: block;padding: 10px 0px; text-align: center; font-size: 1.0em; border-bottom: 2px solid #fff; color:#000; border-top: none; border-right: none; border-left: none; text-transform: uppercase;}
.home_category_btn li.active a{display: block;border-bottom: 2px solid #17319f; text-decoration: none; border-top: none; border-right: none; border-left: none; color: #17319f;}
.home_category_btn li a:hover{text-decoration: none; border-bottom:2px solid #fff;}
.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus {background-color: #fff;text-decoration: none; border-top: none; border-right: none; border-left: none;border-bottom:2px solid #17319f; cursor: pointer; color: #17319f;}
.home_category_box{display: block; margin: 0px; list-style: none; padding: 0; border-bottom: none;}
.home_category_box li{display: block; margin: 0px; list-style: none; padding: 0; width: 33.33%; float: left; padding: 3px;}
.home_category_box li a{display: block; text-decoration: none; position: relative; color: #fff;}
.home_category_box li a img{ max-width: 100%; height:auto; display: block; }
.home_category_box li a span{position: absolute; top: 35%; color: #fff; left: 15%; right: 15%; text-align: center; font-size:1.2em; text-transform: uppercase;}


.new_change_li li{float: none; width: 100%;}
.home_category_box li{    height: 112px;}
.home_category_box li a img{ height: 108px; margin-left: auto; margin-right: auto;}
.imageTitle{     position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

}


.imageTitle::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 200%;
  height: 200%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.imageTitle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
	opacity: 0.5;
}
.imageTitle > h1 {
  position: relative;
  z-index: 10;
	color: #fff;
	text-align: center;
	font-size: 0.9em;
	text-transform: uppercase;
}

@media (max-width: 480px) {
  /*.home_category_btn li a{font-size: 0.9em;}*/
  .home_category_box li a span{font-size:0.9em;}
}
.carousel .slide{background-color: transparent;}
.pd_detail_pd_description ul li{list-style: none;}
.image_section{height: 200px; overflow: hidden; position: relative;}
.image_section img{ width: auto; position: absolute; margin: auto; top: 0; left: 0; bottom: 0; }
.home_title{font-size: 16px;
    color: #17319f;
    font-weight: bold;
    padding: 0px 0px 5px 10px;
    margin: 5px 0px 0px 0px;
    border-bottom: 2px solid #17319f;
    text-align: center;}

.pd_list_card_view{ position: relative; float: left; width: 100% !important; }
.pd_list_card_view .pd_list_img_box{display: block; width: 100%; height: 206px !important; position: relative; overflow: hidden;}
.pd_list_card_view .pd_list_img_box a img{
max-width: 100%;
max-height: 200px;
height: auto !important;
width: auto !important;
left: 50% !important;
top: 50% !important;
-webkit-transform: translate(-50%,-50%) !important;
-ms-transform: translate(-50%,-50%) !important;
transform: translate(-50%,-50%) !important;
position: absolute;
padding: 0px 5px;
}

.pd_list_card_view .pd_list_img_big_box{display: block; width: 100%; height: 206px !important; position: relative; overflow: hidden;  }
.pd_list_card_view .pd_list_img_big_box a img{
    position: absolute;
    width: 96%;
    top: 2%;
    left: 2%;
}

.pd_list_card_view .pd_list_title{min-height: 24px; padding-top: 5px !important; padding-right: 5px !important; padding-bottom: 2px  !important; padding-left: 10px !important;  /*font-size: 1.08em !important; */ color: #000;  text-align: left !important; overflow: hidden;}
.pd_list_card_view .pd_list_title a{color: #000; display: block;}
.pd_list_card_view .pd_list_title a:hover{color: #f13041; display: block;}
.pd_list_price {padding:5px 10px 2px !important;  font-size: 12px; padding-bottom:unset !important; display: inline;}
.pd_list_price span{ font-size: 14px; color:#429937;}
.pd_list_reting{font-size: 13px;display: block; margin: auto; padding-left: 5px; padding-bottom:0px !important; text-align: unset !important;}
.pd_list_info{padding: 5px;padding-left: 10px; color: #828282; font-size: 11px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width:100%; min-height: 24px;}
/*flot icon*/
.excellent {
    background-color: #5cb85c;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: 1;
    color: #fff !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: normal;
    border-radius: unset;
}
.good {
    background-color: #f0ad4e;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: 1;
    color: #fff !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: normal;
    border-radius: unset;
}
.average {
    background-color: #df383e;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: 1;
    color: #fff !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-weight: normal;
    border-radius: unset;
}  
.pd_card_cart_op{ position: absolute; top : 5px; width: auto; z-index: 99;right:10px;}
.pd_card_cart_op ul{margin:0px; padding: 0px; }
.pd_card_cart_op ul li{ list-style: none; display: block; margin: 5px 0; position: relative;transition:all ease-in-out .5s;}
.pd_card_cart_op ul li a{ display: block; color: #c70404; font-size: 16px; text-align: center; transition:all ease-in-out .5s; height: 25px; width: 25px; line-height: 25px; border-radius: 50%;}
.pd_card_cart_op ul li a.heart{line-height: 28px;}
.pd_card_cart_op ul li .Floating_red{ background: #fff; color: #c70404; transform: rotate(0deg);transition: transform 0.3s center 0s; transform-origin:center; }
.pd_card_cart_op ul li a:hover{  color: #c70404 !important;}
.custom_heart:before {
    content: "\f004" !important;
}

.home_appbar{background-color: #fff !important; padding: 0px !important;     box-shadow: none !important;}
.home_tabs{min-height: auto !important;}
.home_tabs button{min-height: auto !important;}
span[class*=' TabIndicator-colorPrimary-']{background-color: #fbfbfb !important;}
.jss94 {
    background-color: #fbfbfb !important;
}
.home_tab span {font-size: 12px !important; font-weight: bold;}

.home_banner{box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 
             0px 4px 5px 0px rgba(0, 0, 0, 0.14), 
             0px 1px 10px 0px rgba(0, 0, 0, 0.12); margin-bottom: 15px;}

.category_slider{margin-top: 15px;}          
.swiper-slide{justify-content:left;}


/*new mobile css*/
.wishlist-btn
{
    background: none;
    color: #282F89;
    border: 1px solid #282f89;
    border-radius: 0;
    padding: 0px 6px;
    margin-right: 10px;
}
.cart-btn
{
    background-color: #17319f;
    color: #fff;
    border: 1px solid #17319f;
    text-align: center;
    border-radius: 0px;
    padding: 0px 10px;
}
.stock-btn
{
    background-color: #d23737;
    color: #fff;
    border: 1px solid #d23737;
    text-align: center;
    border-radius: 0px;
    padding: 0px 10px;
}
.button-group
{
  float: left;
  width: 100%;
  margin-top:10px;
}
.recently_viewed
{
  background-color: #fff;
  margin-top: 10px;
}
.banner_slider
{
  width: 100%;
  margin-bottom: 10px;
}
.product_group img
{
  width: 100%
}
.product_group
{
  float: left;
  padding: 5px 0px!important;
}

.recently_viewed_list
{
  border-bottom: 1px solid #ccc;
}

.recently_viewed .recently_viewed_list:last-child {
    border-bottom: 0px solid #ccc !important;
}
.recently_viewed_description p
{
  white-space: nowrap;
  font-size: 12px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.recently_viewed_description a,.recently_viewed_description a:hover,.recently_viewed_description a:focus
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
}
.r_v_p_detail
{
  padding-right: 0px!important;
  padding-left: 5%;
}
.requirement
{
  background-color: #fff;
  text-align: center;
  margin-top: 10px;
}
.post-btn
{
  background-color: #282F89;
  border:none;
  color: #fff;
  border-radius: 0px!important;
  padding: 10px;
  margin-bottom: 10px;
}
.right-border
{
  border-right: 1px solid #ccc;
}
/*==============navigation bar================*/
.offer_description
{
  border-left: 1px solid #ccc;
}
.offer_description span
{
  color:#636363;
  font-size: 10px;
}

.offeranddiscount
{
  padding: 0 0 0 3px;
}
.offeranddiscount ul li
{
  text-decoration: none;
  display: inline-block;
}
.offer_image img
{
  width: 100%;
  
}
.offer_image
{
  padding: 5px 3px !important;
  margin-bottom: 8px;

}
.offer_card
{
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16), 1px 1px 6px rgba(0,0,0,0.23);
  background-color: #fff;
  margin: 0px 6px 10px 0px;
  min-width: 240px;
}
.navbar_header
{
  background-color: #fff;

}
.navbar_header ul li a
{
  padding-bottom: 6px;
}
.navbar_header ul li a,.navbar_header ul li a:focus,.navbar_header ul li a:hover,.category a,.category a:hover,.category a:focus
{
  text-decoration: none;
  color:#000;
  font-size: 14px;
}

.navbar_header ul li span,.navbar_header ul li span:focus,.navbar_header ul li span:hover
{
  text-decoration: none;
  color:#000;
  font-size: 14px;
}

.navbar_header ul li
{
  text-decoration: none;
  display: inline-block;
  padding:10px;
}
.navbar_header .active
{
  border-bottom: 2px solid #f13041;
}
.category
{
  margin-top: 10px;
  padding: 0px 0 0 8px;
}
.category_image img
{
  width: 100%
}
.category_image
{
  max-width: 100px;
  min-width: 89px;
}
.category_card
{
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16), 1px 1px 6px rgba(0,0,0,0.23);
  margin: 0 10px 15px 2px;
    max-width: 100px;
}
.category_description
{
  font-size: 12px;
  padding: 6px;
  text-align: center;
}
/*==============End navigation bar================*/
/*========= new-arrival =========*/
.head_line button
{
  margin: 10px 0px;
  background-color: #f13041;
  color: #fff;
  border: none;
  border-radius: 0px;
}
.new-arrival_image img
{
  /*width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 3px 3px 0px 0px;*/
  position: absolute;
  max-width: 100%;
  max-height: 200px;
  height: auto !important;
  width: auto !important;
  left: 50% !important;
  top: 42% !important;
  -webkit-transform: translate(-50%,-50%) !important;
  -ms-transform: translate(-50%,-50%) !important;
  transform: translate(-50%,-50%) !important;
}
.no-padding
{
  padding: 0px!important;
}
.new-arrival
{
  background-color: #f8f8f8;
}
.new-arrival_image
{
  height: 195px;
}
.product_card
{
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
  box-shadow: 0px 2px 2px rgba(0,0,0,0.16), 1px 1px 6px rgba(0,0,0,0.23);
  float: left;
  margin:auto;
  height: 335px;
  flex: 0 0 auto;  
  border-radius: 0px;
  margin: 0 8px 15px 5px;
  max-width: 180px;
  border-top: 1px solid #f4f4f4;
  background-color: #fff;
} 
.product_description 
{
  padding: 5px;
  white-space: nowrap;
  font-size: 12px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.product_description a,.product_description a:hover,.product_description a:focus
{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.menu_popup{list-style: none;}
.menu_popup li {padding: 15px 0px 15px 0px;}
.menu_popup li a {color: #000; font-size: 15px; display: block;}
.slider_header{background-color: #fff;}
.new-arrival .scroll-x{margin-left: 10px; margin-top:10px;}
.border_right{border-right: 1px solid #ccc;}

.add_to_cart_full_btn {
display: block;
    padding: 6px 10px;
    text-align: center;
    color: #17319f;
    font-size: 12px;
    border: none;
    border: 1px solid #17319f;
    width: 90%;
    margin: 0px auto 10px auto;
    background-color: #fff;
}

.add_to_cart_full_btn:hover{background-color: #17319f; color: #fff;}

.city_banner_right {line-height: 14px;position: absolute;right: 0px;top: 68%;z-index: 1; }
.city_banner_right .card-header-opt {background: #f5d356;color: #333; font-weight: bold; border-radius: 10px 0px 0px 10px;}
.city_banner_right div {padding: 0.40em 0.5em;position: relative; text-transform: capitalize;}
.city_banner_right .card-header-opt .small{font-size: 100%;}

 .product_card_teg_banner {/*display: none;*/ line-height: 14px;position: absolute;right: 0px;top: 50%;z-index: 1; }
 .product_card_teg_banner .card-header-opt {background: #b3b3b3;color: #fff;}
 .product_card_teg_banner div {padding: 0.35em 0.5em;position: relative;}
 .product_card_teg_banner .card-header-opt .small{font-size: 100%;}
.c-product-list__old-price {color: #d21f30 !important;font-size: 10px!important;text-decoration: line-through; text-align: left;display: inline; padding-left: 10px;}
/*end css */
.clip-prd-sell-type {

    padding: 2px 8px 3px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: -5px;
    z-index: 9;

}
.clip-tag-bestseller::before {
    border-top-color: #C5CAE9!important;
}
.clip-tag-bestseller {
   background-color: #C5CAE9;
}
.clip-prd-sell-type::before {
       content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid #0000;
    border-right: 0px solid #0000;
    border-top: 5px solid #0000;
    position: absolute;
    top: 98%;
    left: 0px;
}

.clip-prd-sell-type .sell-type-txt {
   font-size: 1.1rem;
   font-weight: 400;
   color: #000;
   letter-spacing: .2px;
   margin: 0px;
}
.recent_old_price {color: #d21f30 !important; text-decoration: line-through; padding-right: 10px;}

   .blue_bg
    {
        position: relative;
        width: inherit;
        height: 30px;
        margin: 10px 0; 
        padding: 0px 5px;
    }
    .blue_bg .buyback_text
    {
      border-radius: 30px 0px 0px 30px;
      border: 1px solid #233c98;
      color: #233c98;
      padding: 0px 0px 0px 24px;   
    }
    .blue_bg .buyback_text div
    {
        font-size: 9px;
        border-radius:0px;
        background-color:unset; 
        padding:0px;   
    }
    .round_box
    {
        width: 24px;
       position: absolute;
       left: 2px;
       top: 0px;
    }